@import "../../RootStyles/common.scss";

.wrapper {
    @include wrapper;
    padding: 0;
    background-color: $green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../../assets/image/magic_small.jpg');
    background-position: center;


    .title {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        background-color: $green;

        h2 {
            text-transform: uppercase;
        }

        .info {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: 20px;
            border-left: 2px solid $text-second;

            p {
                text-align: center;
                text-transform: uppercase;
                font-size: $xs-fz;
            }

            p:nth-child(2) {
                font-weight: 700;
                font-size: $m-fz;
            }
        }
    }


    .icons {
        display: flex;
        justify-content: space-between;

    }



    .name {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-bottom: 5px solid $green;
        padding-bottom: 10px;

        p {
            text-align: center;
            font-size: $m-fz;
            flex-basis: 100%;
        }

        p:nth-child(2) {
            flex-basis: 60%;
            font-size: $xs-fz;
            text-transform: uppercase;
            font-weight: 700;
            color: $green;
        }

    }
}