@import "../../RootStyles/common.scss";

.wrapper {
    @include wrapper;
    background-color: $box;
    ;

    .inside {
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        height: 120px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .burger {
            flex-basis: 10%;
            height: 30px;
            background-color: $shaddow;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                &:hover {
                    fill: $green;
                }
            }
        }

        .info {
            flex-basis: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            a {
                text-decoration: none;
                text-transform: uppercase;
                color: $shaddow;


                &:hover {
                    color: $green;
                }
            }

            a,
            p {
                font-size: $xs-fz;
            }

            div {
                display: flex;
                justify-content: space-around;
                align-items: center;
                justify-content: center;


                p {
                    text-transform: uppercase;
                    color: $shaddow;
                    cursor: pointer;

                    &:hover {
                        color: $green;
                    }
                }

            }

            .phone {
                p {
                    color: $green;
                    font-weight: 700;
                }
            }

            .user {
                &:hover>svg {
                    fill: $green;
                }
            }
        }

    }

    @media screen and (orientation: landscape) {
        .inside {
            width: 80%;
            height: 65px;
            padding-top: 0;

            .burger {
                flex-basis: 65px;
                height: 65px;

            }

            .info {
                flex-basis: 60%;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;

            }
        }
    }

    @media screen and (min-width: map-get($breakpoints, small)) {
        .inside {
            padding-left: 0;

            .info {
                align-items: flex-start;
                margin-top: 10px;

            }
        }
    }

    @media screen and (min-width: map-get($breakpoints, x-large)) {

        .inside {
            width: 75%
        }
    }
}