@import "../../RootStyles/common.scss";

.wrapper {
    @include wrapper;
    background-color: $box;
    background-color: $box;
    padding-top: 10px;
    padding-bottom: 40px;

    .inside {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        p,
        a {
            color: $shaddow;
            font-size: $xs-fz/1.3;
            text-transform: uppercase;
        }

        .info {

            .infoUp {
                display: flex;
                flex-direction: column;
                align-items: center;

                .leftPannel {
                    div {
                        display: flex;
                        cursor: pointer;
                        transition: $transition;

                        svg {
                            fill: $violet;
                            width: 50px;
                            height: 50px;
                        }

                        p {
                            color: $violet
                        }

                        div {
                            display: flex;
                            flex-direction: column;

                            p:nth-child(2) {
                                font-size: $l-fz;
                            }
                        }

                        &:hover>svg {
                            fill: $green;
                        }

                        &:hover>p {
                            color: $green;
                        }
                    }
                }

                .rightPannel {
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    p:nth-child(2) {
                        color: $green;
                    }

                    div {
                        display: flex;
                        align-items: center;
                        color: $green;

                        svg {
                            fill: $green;
                        }
                    }
                }
            }

            .infoDown {
                margin-top: 20px;


                .leftPannel {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    width: 300px;

                    a {
                        text-decoration: none;

                        &:hover {
                            color: $green;

                        }
                    }
                }

                .rightPannel {
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    svg {
                        fill: $shaddow;
                        width: 30px;
                        height: 30px;

                        &:hover {
                            fill: $green;
                        }
                    }
                }
            }
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

        p:nth-child(2),
        h3 {
            color: $green;
        }

        div {
            display: flex;
            align-items: center;

            h2,
            svg {
                color: $green;
                fill: $green;
            }
        }
    }

    @media screen and (orientation: landscape) {
        .inside {
            width: 81%;
            padding-top: 0;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    @media screen and (min-width: map-get($breakpoints, small)) {
        .inside {
            padding-left: 0;
            flex-direction: row;
            justify-content: space-between;

        }
    }

    @media screen and (min-width: map-get($breakpoints, large)) {
        padding: 0px;
        padding-bottom: 40px;


        .inside {
            align-items: flex-start;


            .info {
                flex-basis: 60%;


                .infoUp {
                    flex-direction: row;
                    justify-content: space-between;

                    .rightPannel {
                        align-items: flex-end;
                    }
                }

                .infoDown {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-top: 1px solid $shaddow;


                    .rightPannel {
                        align-items: flex-start;

                    }
                }
            }

            .contact {
                align-items: flex-end;
                justify-content: flex-start;

                margin: 0;
                padding-top: 20px;

            }
        }
    }

    @media screen and (min-width: map-get($breakpoints, x-large)) {

        .inside {
            width: 76%;


        }
    }
}