@import "../../RootStyles/common.scss";

.wrapper {
    @include wrapper;
    background-color: $text-second;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .title {
        flex-basis: 100%;

        h2 {
            font-size: $title;
            color: $violet;
            text-transform: uppercase;
        }

        p {
            color: $box;
        }
    }

    .icons {
        flex-basis: 35%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .picture {
        position: absolute;
        bottom: -40%;
        right: -10%;
        width: 200px;
        height: 250px;
        background-image: url("../../assets/image/phone_small.jpg");
        background-position: center;
        background-size: cover;
        border-radius: 15px;
        transform: skew(30deg, 2deg);

    }
}